<!-- Header Container -->
<div class="header">
  <!-- Left: Username -->
  <h1 class="username">Future Secure</h1>

  <!-- Right: Login Button -->
  <div class="login">
    <%= link_to 'Get Started', new_user_session_path, class: "login" %>
  </div>
</div>

<div class="landing-page">
  <h1 class="org_name">Future Secure</h1>
  <h3>Secure your future today.</h3>
  <br>
  <p>Put your money to work today so that your future self will be financially secure and comfortable.</p>
  <br>
  <%= link_to 'Get Started', new_user_session_path %>
</div>